html, body {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: "Gotham";
    src: url('./assets/fonts/GOTHAM/GothamBook.ttf') format("truetype");
}

#about {
    font-family: "Gotham";
}
h1 {
    color: #0e537a;
    border-bottom : 2px solid #0e537a ;
}

h3 {
    color : #A58701;
}

.list_style li {
    list-style-type: disclosure-closed;
    color: #0e537a;
}

.list_style li::before {
    content: "►";
    color : #A58701;
    display : inline-block;
    width: 1em;
    margin-left: -1em;
    
}

.europe {
    box-shadow: 8px 8px 12px #666666;
  }

