html, body{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Gotham";
    src: url('./assets/fonts/GOTHAM/GothamBook.ttf') format("truetype");
}


footer {
    background-color : #FFFFFF;
    font-family: 'Gotham';
}

.or {
    color: #A58701;
}

.links_footer {
    text-decoration: none;
    font-size: 15px;
    color : #0e537a;
}

.links_footer:hover {
    text-decoration: none;
    color: #0e537a;
    border-bottom: 1.5px solid #A58701;
}

h5 {
    color : #0e537a;
    font-size: 18px;
    margin-bottom: 15px;
}

p {
    color: #0e537a;
    font-style: italic;
}

.footer-copyright {
    color: #0e537a;
}

.img-partenaires {
    margin-top: 2rem;
}

