h3{
    font-weight: bold;
    color: #A58701;
}
h1{
    color: #0e537a;
    
}
.margin{
    margin-left: 8.5%;
}
.first,
.second,
.third,
.fourth{
    height: 350px;
    /* color: blue; */
}
.first:hover{
    background: linear-gradient(
 rgba(0, 0, 0, 0.70), 
 rgba(0, 0, 0, 0.70)
 ),url('../img/formation.jpg');
    background-size : cover;
    background-position: center;
}
.second:hover{
    background: linear-gradient(
 rgba(0, 0, 0, 0.70), 
 rgba(0, 0, 0, 0.70)
 ),url('../img/finance.jpg');
    background-size : cover;
    background-position: center;
}
.third:hover{
    background: linear-gradient(
 rgba(0, 0, 0, 0.70), 
 rgba(0, 0, 0, 0.70)
 ),url('../img/parlement.jpg');
    background-size : cover;
    background-position: center;
}
.fourth:hover{
    background: linear-gradient(
 rgba(0, 0, 0, 0.70), 
 rgba(0, 0, 0, 0.70)
 ),url('../img/appui.jpg');
    background-size : cover;
    background-position: center;
    
}
.first{
    background-image: url('../img/formation.jpg');
    background-size : cover;
    background-position: center;
}
.second{
    background-image: url('../img/finance.jpg');
    background-size : cover;
    background-position: center;
}
.third{
    background-image: url('../img/parlement.jpg');
    background-size : cover;
    background-position: center;
}
.fourth{
    background-image: url('../img/appui.jpg');
    background-size : cover;
    background-position: center;
}
@media screen and (min-width: 200px) and (max-width: 1199px) {
    .margin{
        margin-left: 0%;
    }
}
