html,
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Gotham";
    src: url('./assets/fonts/GOTHAM/GothamBook.ttf') format("truetype");
}

/* a {
    text-decoration: none;
} */

#sidebar {
    background-color: #0e537a;
    height: 100vh;
    width: 190px;
    position: fixed;
    left: 0;
    z-index: 100;
}

.menu-items {
    margin-left: 10%;
    margin-bottom: 10%;
}

.menu-items-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Gotham';
    font-weight: 500;
}

.menu-items-link:hover {
    text-decoration: none;
    color: #A58701;
}

.img-logo {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 10%;
    height: auto;
    width: 60%;
}

form {
    height: auto;
    width: auto;
    float: right;
}

header.masthead {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
}

.btn-success {
    background-color: #0e537a !important;
    color: #FFFFFF;
}

footer {
    background-color: #FFFFFF;
    font-family: 'Gotham';
}

.or {
    color: #A58701;
}

.links_footer {
    text-decoration: none;
    color: #0e537a;
}

.links_footer:hover {
    text-decoration: none;
    color: #0e537a;
    border-bottom: 1.5px solid #A58701;
}

h5 {
    color: #0e537a;
}

p {
    color: #0e537a;
    font-style: italic;
}

.footer-copyright {
    color: #0e537a;
}

.btn-outline-success {
    background-color: #0e537a !important;
    border-color: #0e537a !important;
    color: #FFFFFF !important;
}

@media screen and (min-width: 200px) and (max-width: 1199px) {
    #sidebar {
        display: none;
    }
    #showMenu {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    #showMenu {
        display: none;
    }
}

.menu_login {
    font-family: "Gotham";
    margin-left: 8%;
    color: #0e537a;
    border-bottom: 1px solid #0e537a;
}

.menu_profil {
    font-family: "Gotham";
    color: #0e537a;
}

.menu_logout {
    font-family: "Gotham";
    padding-left: 6%;
    color: #0e537a;
}

.btn-primary-transparent {
    background-color: transparent;
    border-color: transparent;
}

li{
    list-style-type: none;
}